<%- include('partials/header') %> 
<link rel="stylesheet" href="/css/projects.css"><%- include('partials/navbar') %>
<div class="container">
  <div id="account-form" class="card card-body card-top hide-form">
    <h1>Enter your details</h1>
    <form id="info-form" method="get" action="">
      <div class="form-group">
        <label class="label-size" for="">Bank Name</label>
        <select name="bankCode" id="" class="form-control">
           <option value="">--</option>
          <% banks.forEach(bank => { %>           
           <option value = "<%= bank.code %>"> <%= bank.name %></option>
          <% }) %>
        </select>
      </div>

      <div class="form-group price-input hide-class">
        <label class="label-size" for="">Account Number</label>
        <input
          type="number"
          name="account"
          class="form-control"
          placeholder="Account Number"
          required
          value="<%= (typeof user != 'undefined' && typeof user.accountDetails != 'undefined') ? user.accountDetails.account_number : undefined %>"
        />
      </div>

      <button type="submit" class="btn btn-primary">Verify</button>
    </form>
    <small style="color: red">
        *Please ensure you confirm the account details being sent as we would not be
        responsible for any funds lost due to misinformation
      </small>
  </div>


<div class="card card-top mb-4">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal bio-header">Verify Account Details</h4>
        <a class="btn btn-outline-primary btn-circle" onclick="showVerify()"
        ><i class="fa fa-edit"></i
      ></a> 
      
    </div>
    <div class="card-body">
      <div class="bio-header">
        <p class="lead mt-3 mb-4 text-uppercase">
          <span class="question-font">Name: </span>
          <% if (typeof user != 'undefined' && typeof user.accountDetails != 'undefined') { %> <%=
          user.accountDetails.account_name %> <% } else { %> UNDEFINED <% } %>
        </p>
        <p class="lead mt-3 mb-4 text-uppercase">
          <span class="question-font">Account Number: </span>
          <% if (typeof user != 'undefined' && typeof user.accountDetails != 'undefined') { %> <%=
          user.accountDetails.account_number %> <% } else { %> UNDEFINED <% } %>
        </p>
        <p class="lead mt-3 mb-4 text-uppercase">
          <span class="question-font">Settlement Bank: </span>
          <% if (typeof user != 'undefined' && typeof user.subAccountDetails != 'undefined') { %> <%=
          user.subAccountDetails.settlement_bank %> <% } else { %> UNDEFINED <% } %>
        </p>
        <p class="lead mt-3 mb-4 text-uppercase">
          <span class="question-font">Currency: </span>
          <% if (typeof user != 'undefined'  && typeof user.subAccountDetails != 'undefined') { %> <%=
          user.subAccountDetails.currency %> <% } else { %> UNDEFINED <% } %>
        </p>
        <p class="lead mt-3 mb-4 text-uppercase">
          <span class="question-font">Account Code: </span>
          <% if (typeof user != 'undefined' && typeof user.subAccountDetails != 'undefined') { %> <%=
          user.subAccountDetails.subaccount_code %> <% } else { %> UNDEFINED <% } %>
        </p>
        <p class="lead mt-3 mb-4 text-uppercase">
          <span class="question-font">Status: </span>
          <% if (typeof isVerified != 'undefined' && typeof user.accountDetails != 'undefined' && isVerified === true) { %>
          TRUE <% } else { %> FALSE <% } %>
        </p>
      </div>
    </div>
  </div>
</div>
<script>
  function showVerify() {
    const form = document.getElementById("account-form");
    form.classList.toggle("hide-form");
  }
</script>

<%- include('partials/footer') %> 