<%-include('partials/header')%>
<link rel="stylesheet" href="css/projects.css">
<%- include('partials/navbar') %> 

<div class="container">
    <div class="card card-top card-center">
        <div class="card-body">
        <h3 class="card-title"><%= project.title %> </h3>
            <p class="card-text"><%= project.preview %> </p>
            
        </div>
    </div>
    <button class="btn btn-primary download-btn" style="width: 100%;"><b> PROJECT COST 3000 >> DOWNLOAD</b></button>

    <p> <strong>DISCLAIMER:</strong> This academic research/project is mainly to serve as a guide to students. Hence, so long as the review of the relevant literatures in academics, the site serves to provide adequate literature for appropriate review. <a href="mailto: writeplugng@gmail.com?subject=REPORT" target="_blank">REPORT</a></p>

</div>

<%- include('partials/footer') %> 